@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  font-family: 'Comic Neue', cursive;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

.app-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto 1fr auto auto;
      grid-template-rows: auto auto 1fr auto auto;
      grid-template-areas: 'top-decoration' 'header' 'main' 'footer' 'bottom-decoration';
  border: 4px solid black;
}

.browser {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top-decoration;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-bottom: 4px solid black;
  background-color: #d5a7da;
}

.browser .web-title {
  font-size: 30px;
  margin-top: 10px;
  font-weight: 900;
}

.browser-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 50px;
}

.browser-navigation img {
  width: auto;
  height: 60px;
}

.address-bar {
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px;
  padding: 10px;
  width: 60vw;
  border: 4px solid black;
  background-color: white;
  border-radius: 10px;
}

header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
  margin: 15px 30px;
  border: 4px solid black;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-spaced {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav p {
  font-size: 24px;
}

.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 600;
  padding: 5px 20px;
  border-left: 3px solid black;
}

.selected {
  color: #7500c4;
}

#first {
  border: none;
}

li {
  list-style: none;
}

button {
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form h2 {
  font-size: 50px;
  margin-bottom: 40px;
}

form label {
  width: 100%;
}

form input {
  width: 100%;
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  color: black;
  font-weight: 600;
  border: 3px solid black;
}

form button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

form span {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #910000;
}

button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

::-webkit-input-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

::placeholder {
  color: black;
}

form > * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainApp {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}

.book-container {
  border: 4px solid black;
  width: 90vw;
}

.book-container :nth-child(odd) {
  background-color: #e3b1e9;
}

.book-Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.book-Card :nth-child(odd) {
  background-color: transparent;
}

.book-Card .remove {
  background-color: white;
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
  border: 3px solid black;
  -webkit-box-shadow: 4px 4px black;
          box-shadow: 4px 4px black;
}

.book-Card .remove:hover {
  background-color: #7500c4;
  color: white;
}

.btn {
  background-color: white;
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
  border: 3px solid black;
  -webkit-box-shadow: 4px 4px black;
          box-shadow: 4px 4px black;
}

.btn:hover {
  background-color: #7500c4;
  color: white;
}

.book-display {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 50px;
}

.add-books {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: circle;
  font-weight: bold;
}

.contact h2 {
  font-size: 60px;
}

.contact p,
.contact ul {
  font-size: 40px;
}

.contact ul li {
  list-style: circle;
}

.d-none {
  display: none;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid black;
  margin: 15px 30px;
  padding: 10px 20px;
}

.bottom-decoration {
  width: 100%;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: bottom-decoration;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #d5a7da;
  border-top: 4px solid black;
}

.bottom-decoration p {
  font-size: 40px;
  font-weight: bold;
  padding: 5px;
}

@media screen and (max-width: 1200px) {
  .browser-navigation img {
    display: none;
  }
  .contact h2 {
    font-size: 50px;
  }
  .contact p,
  .contact ul {
    font-size: 30px;
  }
}

@media screen and (max-width: 760px) {
  .contact h2 {
    font-size: 50px;
  }
  .contact p,
  .contact ul {
    font-size: 20px;
  }
}

@media screen and (max-width: 670px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }
  #first {
    border-left: 3px solid black;
  }
}
/*# sourceMappingURL=styles.css.map */